{{#link-to 'question' questions.id}}
  <div class="question">
    <div class="row">
      <h4>{{questions.title}} <span class="small">   by: {{questions.author}}   {{moment-from-now questions.timestamp}}</span></h4>
      <p>Question solved?  {{questions.solved}}</p>
    </div>
  </div>

{{/link-to}}
