{{#link-to 'question' question.id}}
  <div class="question">
    <div class="row">
      <h4>{{question.title}} <span class="small"> by: {{question.author}} {{moment-from-now question.timestamp}}</span></h4>
    </div>
  </div>

{{/link-to}}
