{{#link-to 'question' question.id}}

  <div class="container question">
    <div class="row">
      <h6 class="question-author">{{questions.author}} on {{questions.timestamp}}</h6>
      <p>{{questions.title}}</p>
      <p>Question solved?  {{questions.solved}}</p>
    </div>
  </div>

{{/link-to}}
