@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.question {
  border: solid gray;
  margin: 10px;
  padding-left: 30px;
}

.author-icon {
  width: 15vh;
  height: auto;
}
