@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body {
  padding-bottom: 30px;
}

.question, .question-detail, .answer-detail {
  border: solid gray;
  margin: 10px;
  padding: 30px;
}

.author {
  font-style: italic;
}

.author-icon {
  width: 15vh;
  height: auto;
}
