{{question-detail question=model updateQuestion="updateQuestion" destroyQuestion="destroyQuestion"}}

{{new-answer saveAnswer="saveAnswer" question=model}}

<h2>Answers:</h2>

{{#if model.answers}}
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
{{else}}
  <p>
    <em>There are no answers yet. Click "Add Answer" to add yours!</em>
  </p>
{{/if}}
