{{question-detail question=model destroyQuestion="destroyQuestion"}}


{{new-answer saveAnswer="saveAnswer" question=model}}

<h2>Answers:</h2>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
